google-cloud-aiplatform>=1.25.0
google-cloud-bigquery>=3.4.0
pandas>=1.5.3
db-dtypes>=1.1.1
google-api-python-client>=2.84.0
google-auth-httplib2>=0.1.0
google-auth-oauthlib>=1.0.0
python-dotenv>=1.0.0
google-cloud-storage>=2.10.0
vertexai
fsspec
gcsfs
aiohttp
pydantic
click
grpcio
google-cloud-aiplatform[adk,agent_engines]
google-cloud-aiplatform[evaluation]
pandas 
sqlalchemy
streamlit
